@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-3">
    <h1 class="col-6 my-auto">Filmes</h1>
    <div class="col-6 my-auto text-right">@Html.ActionLink("Novo Filme", "New", "Movies", null, new { @class = "btn btn-primary" })</div>
</div>

<div class="row">
    <table id="movies" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col" class="align-middle">Filme</th>
            <th scope="col" class="align-middle">Gênero</th>
            <th scope="col" class="align-middle">Deletar</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Scripts/Movies/List.js"></script>
}