@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-3">
    <div class="col-12"></div>
    <h1 class="col-6 my-auto">Customers</h1>
    <div class="col-6 my-auto text-right">@Html.ActionLink("New Customer", "New", "Customers", null, new {@class = "btn btn-primary"})</div>
</div>

<div class="row">
    <table id="customers" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col" class="align-middle">Customer</th>
                <th scope="col" class="align-middle">Membership Type</th>
                <th scope="col" class="align-middle">Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#customers").DataTable({
                "bLengthChange": false,
                ajax: {
                    url: "/api/customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        className: "align-middle",
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" +
                                customer.id +
                                "' class='btn btn-link'>" +
                                data +
                                "</a>";
                        }
                    },
                    {
                        className: "align-middle",
                        data: "membershipType.name"
                    }
                    ,
                    {
                        className: "align-middle",
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-link js-delete' data-customer-id='" + data + "'>Delete</button>"
                        }
                    }
                ]
            });

            $("#customers").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
