@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-3">
    <div class="col-12"></div>
    <h1 class="col-6 my-auto">Clientes</h1>
    <div class="col-6 my-auto text-right">@Html.ActionLink("Novo Cliente", "New", "Customers", null, new {@class = "btn btn-primary"})</div>
</div>

<div class="row">
    <table id="customers" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col" class="align-middle">Cliente</th>
                <th scope="col" class="align-middle">Tipo</th>
                <th scope="col" class="align-middle">Deletar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section scripts
{
    <script src="~/Scripts/Customers/List.js"></script>
}
