@model dynamic

@{
    ViewBag.Title = "Locações";
}
<div class="row mb-3">
    <h1 class="col-6 my-auto">Locações</h1>
    <div class="col-6 my-auto text-right">@Html.ActionLink("Nova Locação", "New", "Rentals", null, new { @class = "btn btn-primary" })</div>
</div>
<div class="row">
    <table id="rentals" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col" class="align-middle">#</th>
            <th scope="col" class="align-middle">Cliente</th>
            <th scope="col" class="align-middle">Filme</th>
            <th scope="col" class="align-middle">Data da Locação</th>
            <th scope="col" class="align-middle">Finalizar Locação</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
    

@section scripts
{
    <script src="~/Scripts/Rentals/List.js"></script>
}