body {
    margin-bottom: 80px;
    overflow-y: scroll;
}

html, body{
    min-height: 100%;
    max-width: 100%;
}

html {
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
.validation-summary-error {
    color: red;
}

.input-validation-error,
label.error {
    border: 2px solid red;
}

.validation-summary-errors,
input.error {
    color: red;
}

table {
    overflow: auto;
    table-layout: fixed;
    width: 100%;
}

th, td, .btn-link, tr {
    overflow: auto;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
}

/* width */
table ::-webkit-scrollbar {
    height: 3px;
}

/* Track */
table ::-webkit-scrollbar-track {
    background: #4E5D6C;
}

/* Handle */
table ::-webkit-scrollbar-thumb {
    background: #DF691A;
}

    /* Handle on hover */
table ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }